# Created by .ignore support plugin (hsz.mobi)

# Idea and Sys
.DS_Store
.idea
.idea/*
__pycache__/
app/__pycache__/
*.py[cod]
*$py.class
.sonar
.sonar/*
app/setting.py


# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

version.txt
demo.py